---
- name: Get current exports file content
  ansible.builtin.slurp:
    src: /etc/exports
  register: exports_content
  failed_when: false

- name: Parse existing exports file
  ansible.builtin.set_fact:
    existing_exports: []
  when:
    - exports_content is undefined
    - exports_content.content is undefined
    - exports_content.failed

- name: Parse existing exports from file
  ansible.builtin.set_fact:
    existing_exports: "{{ (exports_content.content | b64decode).split('\n') | select('match', '^[^#].*') | list }}"
  when:
    - exports_content is defined
    - exports_content.content is defined
  failed_when: false

- name: Create list of managed exports
  ansible.builtin.set_fact:
    managed_exports: "{{ [] }}"

- name: Format ansible managed exports
  ansible.builtin.set_fact:
    managed_exports: "{{ managed_exports + [item.0.path + ' ' + item.1 + '(' + item.0.options + ')'] }}"
  loop: "{{ nfs_exports | subelements('clients') }}"

- name: Extract non-duplicate custom exports
  ansible.builtin.set_fact:
    custom_exports: "{{ existing_exports | difference(managed_exports) }}"

- name: Create NFS export directories
  ansible.builtin.file:
    path: "{{ item.path }}"
    state: directory
    mode: "{{ item.mode | default('0777') }}"
    owner: "{{ item.owner | default('nobody') }}"
    group: "{{ item.group | default('nogroup') }}"
    recurse: true
  loop: "{{ nfs_exports }}"

- name: Generate /etc/exports from template
  ansible.builtin.template:
    src: exports.j2
    dest: /etc/exports
    owner: root
    group: root
    mode: "0644"
    backup: true
  register: exports_changed
  notify:
    - Restart nfs
    - Reload exports

- name: Check if NFS exports are correctly added
  ansible.builtin.command: grep -q "{{ item.0.path }} {{ item.1 }}({{ item.0.options }})" /etc/exports
  loop: "{{ nfs_exports | subelements('clients') }}"
  register: check_exports_final
  failed_when: check_exports_final.rc != 0
  changed_when: false
