---
- name: Check if folders exist
  ansible.builtin.stat:
    path: "{{ item.path }}"
  loop: "{{ nfs_exports }}"
  register: folder_check
  ignore_errors: true

- name: Skip folder creation if skip_folder_check is true
  ansible.builtin.debug:
    msg: "Skipping folder check for {{ item.item.path }}"
  when:
    - item.stat.exists
    - skip_folder_check | default(false)
  loop: "{{ folder_check.results }}"

- name: Fail if folders exist and not skipping checks
  ansible.builtin.fail:
    msg: "ERROR: The folder '{{ item.item.path }}' already exists. Please remove it or choose a different path."
  when:
    - item.stat.exists
    - not skip_folder_check | default(false)
  loop: "{{ folder_check.results }}"
  run_once: true

- name: Create NFS export directories
  ansible.builtin.file:
    path: "{{ item.path }}"
    state: directory
    mode: "{{ item.mode | default('0777') }}"
    owner: "{{ item.owner | default('nobody') }}"
    group: "{{ item.group | default('nogroup') }}"
    recurse: true
  loop: "{{ nfs_exports }}"
  when: not item.skip_create | default(false)

- name: Check if folders created
  ansible.builtin.stat:
    path: "{{ item.path }}"
  loop: "{{ nfs_exports }}"
  register: folder_created
  ignore_errors: true

- name: Fail if folder not created
  ansible.builtin.fail:
    msg: "Folder '{{ item.path }}' not created - stopping execution"
  when: not item.stat.exists
  loop: "{{ folder_created.results }}"
