---
- name: Check if exports file exists
  ansible.builtin.stat:
    path: /etc/exports
  register: exports_file

- name: Read exports file
  ansible.builtin.slurp:
    src: /etc/exports
  register: exports_content
  when: exports_file.stat.exists

- name: Remove NFS exports
  ansible.builtin.lineinfile:
    path: /etc/exports
    regexp: "^{{ item.0.path }}\\s+{{ item.1 }}\\(.*\\)\\s*$"
    state: absent
  loop: "{{ nfs_exports_to_remove | subelements('clients') }}"
  when: exports_file.stat.exists
  register: exports_changed
  notify: restart nfs

- name: Ensure NFS exports are removed
  ansible.builtin.command: grep -q "{{ item.0.path }} {{ item.1 }}" /etc/exports
  loop: "{{ nfs_exports_to_remove | subelements('clients') }}"
  register: check_exports_final
  changed_when: false
  ignore_errors: true

- name: Fail if export still exists
  ansible.builtin.fail:
    msg: "Export {{ item.item.0.path }} {{ item.item.1 }} still exists in /etc/exports!"
  loop: "{{ check_exports_final.results }}"
  when: item.rc == 0

- name: Restart nfs
  ansible.builtin.service:
    name: "{{ 'nfs-kernel-server' if ansible_os_family == 'Debian' else 'nfs-server' }}"
    state: restarted

- name: Reload exports after removal
  ansible.builtin.command: exportfs -ra
  become: true
  when: exports_changed.changed

- name: Remove export directories
  ansible.builtin.file:
    path: "{{ item.path }}"
    state: absent
  loop: "{{ nfs_exports_to_remove }}"
  when: item.remove_dir | default(false) | bool
  register: removed_folders

- name: Show removal results
  ansible.builtin.debug:
    msg: "Removed folder {{ item.path }}"
  loop: "{{ removed_folders.results }}"
  when: item.changed

- name: Remove NFS rule from firewall for each client
  community.general.ufw:
    rule: allow
    proto: tcp
    port: "2049"
    src: "{{ client }}"
    delete: true
  loop: "{{ nfs_exports | subelements('clients') }}"
  when: ansible_os_family == 'Debian'
  vars:
    client: "{{ item.1 }}"

- name: Check if NFS rule is removed for client
  ansible.builtin.command: ufw status
  register: ufw_status
  when: ansible_os_family == 'Debian'

- name: Ensure NFS rule is removed for client
  ansible.builtin.assert:
    that:
      - "not ufw_status.stdout is regex('^2049/tcp\\\\s+ALLOW\\\\s+' ~ client ~ '\\\\s*$', multiline=True)"
    fail_msg: "NFS firewall rule found for client {{ client }}"
    success_msg: "NFS firewall rule not found for client {{ client }}"
  loop: "{{ nfs_exports_to_remove | subelements('clients', skip_missing=True) }}"
  loop_control:
    loop_var: client_item
  when: ansible_os_family == 'Debian'
  vars:
    client: "{{ client_item.1 }}"
