---
- name: Upgrade Debian packages
  become: true
  ansible.builtin.apt:
    upgrade: yes
    update_cache: yes

- name: Check if reboot is required
  become: true
  ansible.builtin.stat:
    path: /var/run/reboot_required
  register: reboot_required
