---
- name: Upgrade Debian packages
  become: true
  ansible.builtin.apt:
    upgrade: true
    update_cache: true

- name: Check if reboot is required
  become: true
  ansible.builtin.stat:
    path: /var/run/reboot_required
  register: reboot_required
