---
- name: Get user home directory
  ansible.builtin.command: getent passwd "{{ ansible_user }}"
  register: user_info
  changed_when: false

- name: Extract home directory
  ansible.builtin.set_fact:
    user_home: "{{ user_info.stdout.split(':')[5] }}"

- name: Clone dotfiles repository
  ansible.builtin.git:
    repo: "https://github.com/nevalions/dotfiles.git"
    dest: "{{ user_home }}/dotfiles"
    version: main
  become: true
  become_user: "{{ ansible_user }}"

- name: Ensure correct ownership of dotfiles
  ansible.builtin.file:
    path: "{{ user_home }}/dotfiles"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    recurse: true
  become: true

- name: Set default shell to Zsh
  ansible.builtin.user:
    name: "{{ ansible_user }}"
    shell: /bin/zsh
  become: true

- name: Apply dotfiles using stow
  ansible.builtin.shell: "cd {{ user_home }}/dotfiles && stow */"
  become: true
  become_user: "{{ ansible_user }}"
  register: stow_result
  changed_when: stow_result.rc == 0
