---
haproxy_k8s_frontend_port: "{{ vault_k8s_api_port | default(vault_haproxy_k8s_frontend_port | default('[k8s-api-port]')) }}"
haproxy_k8s_backend_port: "{{ vault_haproxy_k8s_backend_port | default('[haproxy-backend-port]') }}"

haproxy_k8s_backend_hosts:
  - name: "control-plane-1"
    wireguard_ip: "{{ vault_haproxy_k8s_backend_ip | default('[control-plane-ip]') }}"
    backend_port: "{{ haproxy_k8s_backend_port }}"

haproxy_k8s_allowed_networks:
  - "{{ vault_wg_network_cidr | default('[vpn-network-cidr]') }}"
  - "[control-plane-ip]"

haproxy_k8s_maxconn: 1000
haproxy_k8s_timeout_connect: 5000
haproxy_k8s_timeout_client: 30000
haproxy_k8s_timeout_server: 30000
haproxy_k8s_check_interval: 2000
haproxy_k8s_check_rise: 2
haproxy_k8s_check_fall: 3
