---
- name: Check if folders created
  ansible.builtin.stat:
    path: "{{ item.mount_point }}"
  loop: "{{ folders_list }}"
  register: folder_created
  ignore_errors: true

- name: Fail if folder not created
  ansible.builtin.fail:
    msg: "Folder '{{ item.path }}' not created - stopping execution"
  when: not item.stat.exists
  loop: "{{ folder_created.results }}"
