---
apiVersion: kubeadm.k8s.io/{{ kubeadm_api_version }}
kind: JoinConfiguration
discovery:
  bootstrapToken:
    apiServerEndpoint: "{{ kuber_join_control_plane_ip }}:{{ kuber_join_api_port }}"
    token: "{{ kuber_join_token }}"
    caCertHashes:
      - "sha256:{{ kuber_join_ca_cert_hash }}"
nodeRegistration:
  name: "{{ ansible_facts['hostname'] }}"
{% if kuber_join_kubelet_extra_args is defined and kuber_join_kubelet_extra_args | length > 0 %}
  kubeletExtraArgs:
{% for key, value in kuber_join_kubelet_extra_args.items() %}
    - name: "{{ key }}"
      value: "{{ value }}"
{% endfor %}
{% endif %}
