---
apiVersion: kubeadm.k8s.io/v1beta3
kind: JoinConfiguration
discovery:
  bootstrapToken:
    apiServerEndpoint: "{{ kuber_join_control_plane_ip }}:{{ kuber_join_api_port }}"
    token: "{{ kuber_join_token }}"
    caCertHashes:
      - "sha256:{{ kuber_join_ca_cert_hash }}"
nodeRegistration:
  name: "{{ ansible_hostname }}"
  kubeletExtraArgs:
    node-ip: "{{ kuber_join_kubelet_extra_args.node_ip }}"
{% if kuber_join_kubelet_extra_args is defined %}
{% for key, value in kuber_join_kubelet_extra_args.items() %}
    {{ key }}: "{{ value }}"
{% endfor %}
{% endif %}
