---
- name: Get user home directory
  ansible.builtin.command: getent passwd "{{ ansible_user }}"
  register: user_info
  changed_when: false

- name: Extract home directory
  ansible.builtin.set_fact:
    user_home: "{{ user_info.stdout.split(':')[5] }}"

- name: Install Oh My Zsh
  ansible.builtin.git:
    repo: "https://github.com/ohmyzsh/ohmyzsh.git"
    dest: "{{ user_home }}/.oh-my-zsh"
    version: master
  become: true
  become_user: "{{ ansible_user }}"

- name: Install Powerlevel10k theme
  ansible.builtin.git:
    repo: "https://github.com/romkatv/powerlevel10k.git"
    dest: "{{ user_home }}/.oh-my-zsh/custom/themes/powerlevel10k"
    version: master
  become: true
  become_user: "{{ ansible_user }}"

- name: Install Zsh plugins
  ansible.builtin.git:
    repo: "{{ item.repo }}"
    dest: "{{ user_home }}/.oh-my-zsh/custom/plugins/{{ item.name }}"
    version: master
  become: true
  become_user: "{{ ansible_user }}"
  loop:
    - {
      name: "zsh-autosuggestions",
      repo: "https://github.com/zsh-users/zsh-autosuggestions.git",
    }
    - {
      name: "zsh-syntax-highlighting",
      repo: "https://github.com/zsh-users/zsh-syntax-highlighting.git",
    }
    - {
      name: "fast-syntax-highlighting",
      repo: "https://github.com/zdharma-continuum/fast-syntax-highlighting.git",
    }
