---
- name: Get user home directory
  ansible.builtin.command: getent passwd "{{ ansible_user }}"
  register: user_info
  changed_when: false

- name: Extract home directory
  ansible.builtin.set_fact:
    user_home: "{{ user_info.stdout.split(':')[5] }}"

- name: Install Oh My Zsh
  ansible.builtin.git:
    repo: "{{ zsh_oh_my_zsh_repo }}"
    dest: "{{ user_home }}/.oh-my-zsh"
    version: "{{ zsh_oh_my_zsh_version }}"
  become: true
  become_user: "{{ ansible_user }}"

- name: Install Powerlevel10k theme
  ansible.builtin.git:
    repo: "{{ zsh_powerlevel10k_repo }}"
    dest: "{{ user_home }}/.oh-my-zsh/custom/themes/powerlevel10k"
    version: "{{ zsh_powerlevel10k_version }}"
  become: true
  become_user: "{{ ansible_user }}"

- name: Install Zsh plugins
  ansible.builtin.git:
    repo: "{{ item.repo }}"
    dest: "{{ user_home }}/.oh-my-zsh/custom/plugins/{{ item.name }}"
    version: "{{ item.version }}"
  become: true
  become_user: "{{ ansible_user }}"
  loop:
    - {
        name: "zsh-autosuggestions",
        repo: "{{ zsh_autosuggestions_repo }}",
        version: "{{ zsh_autosuggestions_version }}",
      }
    - {
        name: "zsh-syntax-highlighting",
        repo: "{{ zsh_syntax_highlighting_repo }}",
        version: "{{ zsh_syntax_highlighting_version }}",
      }
    - {
        name: "fast-syntax-highlighting",
        repo: "{{ zsh_fast_syntax_highlighting_repo }}",
        version: "{{ zsh_fast_syntax_highlighting_version }}",
      }
