---
- name: Restart kubelet
  ansible.builtin.systemd:
    name: kubelet
    state: restarted
    enabled: true

- name: Restart containerd
  ansible.builtin.systemd:
    name: containerd
    state: restarted
    enabled: true

- name: Reload ufw
  community.general.ufw:
    state: reloaded

- name: Reload systemd daemon
  ansible.builtin.systemd:
    daemon_reload: true
