# BEGIN ANSIBLE MANAGED DNS ZONE
server:
{% for record in dns_records %}
    local-data: "{{ record.name }}.{{ dns_zone }}. {{ record.type }} {{ record.ip }}"
{% endfor %}
# END ANSIBLE MANAGED DNS ZONE
