---
- name: Update apt cache
  ansible.builtin.apt:
    update_cache: true
  when: ansible_facts['os_family'] == "Debian"

- name: Update pacman cache
  community.general.pacman:
    update_cache: true
  when: ansible_facts['os_family'] == "Archlinux"
