---
- name: Update package lists (Ubuntu/Debian)
  ansible.builtin.apt:
    update_cache: true
  when: ansible_facts['os_family'] == "Debian"

- name: Ensure gpg is installed (Debian)
  ansible.builtin.apt:
    name: gpg
    state: present
  when: ansible_facts['os_family'] == "Debian"

- name: Create keyrings directory (Debian)
  ansible.builtin.file:
    path: /etc/apt/keyrings
    state: directory
    mode: '0755'
  when: ansible_facts['os_family'] == "Debian"

- name: Add eza GPG key (Debian)
  ansible.builtin.apt_key:
    url: https://raw.githubusercontent.com/eza-community/eza/main/deb.asc
    keyring: /etc/apt/keyrings/gierens.gpg
    state: present
  when: ansible_facts['os_family'] == "Debian"

- name: Add eza repository (Debian)
  ansible.builtin.apt_repository:
    repo: "deb [signed-by=/etc/apt/keyrings/gierens.gpg] http://deb.gierens.de stable main"
    filename: gierens
    state: present
    update_cache: true
  when: ansible_facts['os_family'] == "Debian"

- name: Update system packages (Arch/Manjaro)
  community.general.pacman:
    update_cache: true
    upgrade: true
  when: ansible_facts['os_family'] == "Archlinux"

- name: Install common packages
  ansible.builtin.package:
    name: "{{ common_packages }}"
    state: present

- name: Install additional Arch packages
  community.general.pacman:
    name: "{{ arch_packages }}"
    state: present
  when: ansible_facts['os_family'] == "Archlinux"

- name: Install additional Debian packages
  ansible.builtin.apt:
    name: "{{ debian_packages }}"
    state: present
  when: ansible_facts['os_family'] == "Debian"

- name: Install additional Ubuntu packages
  ansible.builtin.apt:
    name: "{{ ubuntu_packages }}"
    state: present
  when: ansible_facts['distribution'] == "Ubuntu"
