---
- name: Update package lists (Ubuntu/Debian)
  ansible.builtin.apt:
    update_cache: yes
  when: ansible_facts['os_family'] == "Debian"

- name: Update system packages (Arch/Manjaro)
  community.general.pacman:
    update_cache: yes
    upgrade: yes
  when: ansible_facts['os_family'] == "Archlinux"

- name: Install common packages
  ansible.builtin.package:
    name: "{{ common_packages }}"
    state: present

- name: Install additional Arch packages
  community.general.pacman:
    name: "{{ arch_packages }}"
    state: present
  when: ansible_facts['os_family'] == "Archlinux"

- name: Install additional Debian packages
  ansible.builtin.apt:
    name: "{{ debian_packages }}"
    state: present
  when: ansible_facts['os_family'] == "Debian"
