---
- name: Include folders list mount check
  ansible.builtin.include_tasks: common/tasks/check_folders_mount_list.yaml
  vars:
    folders_list: "{{ nfs_mounts }}"
    skip_folder_check: false

- name: Create mount points (including parent directories)
  ansible.builtin.file:
    path: "{{ item.mount_point }}"
    state: directory
    mode: "0755"
    recurse: true
  loop: "{{ nfs_mounts }}"

- name: Include folders mount list check after creation
  ansible.builtin.include_tasks: common/tasks/check_folders_mount_list_exist.yaml
  vars:
    folders_list: "{{ nfs_mounts }}"
