---
- name: Install NFS client packages
  ansible.builtin.apt:
    name: nfs-common
    state: present

- name: Import folder creation tasks
  ansible.builtin.import_tasks: folders.yaml

- name: Import mounts configuration tasks
  ansible.builtin.import_tasks: mounts.yaml
