---
- name: Include folders mount list exist
  ansible.builtin.include_tasks: common/tasks/check_folders_mount_list_exist.yaml
  vars:
    folders_list: "{{ nfs_unmounts }}"

- name: Unmount NFS shares
  ansible.posix.mount:
    path: "{{ item.mount_point }}"
    src: "{{ item.server }}:{{ item.path }}"
    fstype: nfs
    state: unmounted
  loop: "{{ nfs_unmounts }}"
  failed_when: false

- name: Include folders mount list unmounted
  ansible.builtin.include_tasks: common/tasks/check_folders_mount_list_unmounted.yaml
  vars:
    folders_list: "{{ nfs_unmounts }}"

- name: Include items in fstab
  ansible.builtin.include_tasks: common/tasks/check_nfs_item_in_fstab_exist.yaml
  vars:
    folders_list: "{{ nfs_unmounts }}"

- name: Remove NFS shares from fstab
  ansible.posix.mount:
    path: "{{ item.mount_point }}"
    src: "{{ item.server }}:{{ item.path }}"
    fstype: nfs
    state: absent
  loop: "{{ nfs_unmounts }}"

- name: Include items removed from fstab
  ansible.builtin.include_tasks: common/tasks/check_nfs_item_in_fstab_deleted.yaml
  vars:
    folders_list: "{{ nfs_unmounts }}"

- name: Include folders list deleted
  ansible.builtin.include_tasks: common/tasks/check_folders_list_deleted.yaml
  vars:
    folders_list: "{{ nfs_unmounts }}"
