---
apiVersion: metallb.io/v1beta1
kind: BGPAdvertisement
metadata:
  name: aggregate
  namespace: {{ metallb_namespace }}
spec:
  ipAddressPools:
{% for pool in metallb_address_pools %}
    - {{ pool.name }}
{% endfor %}
  aggregationLength: {{ metallb_bgp_aggregate_length_v4 }}
