---
{% for pool in metallb_address_pools %}
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: {{ pool.name }}
  namespace: {{ metallb_namespace }}
spec:
  addresses:
{% for addr in pool.addresses %}
    - {{ addr }}
{% endfor %}
---
{% endfor %}
