---
- name: Prefer IPv4 on Kubernetes nodes (avoid AAAA-first delays)
  hosts: "{{ k8s_prefer_ipv4_hosts | default('kuber_small_all_with_services') }}"
  become: true
  gather_facts: true
  vars_files:
    - ../vault_secrets.yml
  tags:
    - network
    - ipv6
    - k8s
  tasks:
    - name: Prefer IPv4 over IPv6 in getaddrinfo
      ansible.builtin.lineinfile:
        path: /etc/gai.conf
        create: true
        mode: "0644"
        regexp: '^\s*precedence\s+::ffff:0:0/96\s+'
        line: "precedence ::ffff:0:0/96  100"
        backup: true
