---
apiVersion: kubeadm.k8s.io/{{ kubeadm_api_version }}
kind: ClusterConfiguration
controlPlaneEndpoint: "{{ kubeadm_control_plane_endpoint }}"
networking:
  podSubnet: "{{ kubeadm_pod_subnet }}"
  serviceSubnet: "{{ kubeadm_service_subnet }}"
---
apiVersion: kubeadm.k8s.io/{{ kubeadm_api_version }}
kind: InitConfiguration
nodeRegistration:
  kubeletExtraArgs:
{% if kubeadm_kubelet_extra_args is defined %}
{% for key, value in kubeadm_kubelet_extra_args.items() %}
  - name: {{ key }}
    value: {{ value }}
{% endfor %}
{% endif %}
