---
apiVersion: kubeadm.k8s.io/{{ kubeadm_api_version }}
kind: ClusterConfiguration
controlPlaneEndpoint: "{{ kubeadm_control_plane_endpoint }}"
{% if kubeadm_api_server_cert_sans is defined and kubeadm_api_server_cert_sans | length > 0 %}
apiServer:
  certSANs:
{% for san in kubeadm_api_server_cert_sans %}
    - "{{ san }}"
{% endfor %}
{% endif %}
networking:
  podSubnet: "{{ kubeadm_pod_subnet }}"
  serviceSubnet: "{{ kubeadm_service_subnet }}"
---
apiVersion: kubeadm.k8s.io/{{ kubeadm_api_version }}
kind: InitConfiguration
localAPIEndpoint:
  advertiseAddress: "{{ kubeadm_api_server_advertise_address }}"
nodeRegistration:
  kubeletExtraArgs:
{% if kubeadm_kubelet_extra_args is defined %}
{% for key, value in kubeadm_kubelet_extra_args.items() %}
  - name: {{ key }}
    value: "{{ value }}"
{% endfor %}
{% endif %}
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
cgroupDriver: systemd
containerRuntimeEndpoint: unix:///var/run/containerd/containerd.sock
---
apiVersion: kubeproxy.config.k8s.io/v1alpha1
kind: KubeProxyConfiguration
metricsBindAddress: "0.0.0.0:10249"
