---
kubeadm_pod_subnet: "{{ vault_k8s_pod_subnet | default('10.244.0.0/16') }}"
kubeadm_service_subnet: "{{ vault_k8s_service_subnet | default('10.96.0.0/12') }}"
kubeadm_control_plane_endpoint: "{{ ansible_default_ipv4.address }}:{{ vault_haproxy_k8s_frontend_port | default('7443') }}"
kubeadm_api_server_advertise_address: "{{ ansible_default_ipv4.address }}"
kubeadm_kubelet_extra_args:
  node-ip: "{{ ansible_default_ipv4.address }}"
kubeadm_api_version: "v1beta4"

calico_version: "v3.31.3"
calico_tigera_operator_url: "https://raw.githubusercontent.com/projectcalico/calico/{{ calico_version }}/manifests/tigera-operator.yaml"
calico_custom_resources_src: "/path/to/calico/2-custom-resources.yaml"

kubeconfig_user_home: "/root"
kubeconfig_path: "{{ kubeconfig_user_home }}/.kube/config"
