---
kubeadm_pod_subnet: "[internal-ip]/16"
kubeadm_service_subnet: "[internal-ip]/16"
kubeadm_control_plane_endpoint: "{{ ansible_default_ipv4.address }}:6443"
kubeadm_api_server_advertise_address: "{{ ansible_default_ipv4.address }}"
kubeadm_kubelet_extra_args:
  node-ip: "{{ ansible_default_ipv4.address }}"

calico_tigera_operator_url: "https://raw.githubusercontent.com/projectcalico/calico/v3.28.1/manifests/tigera-operator.yaml"
calico_custom_resources_src: "/home/[your-username]/kuber-bay/kube/calico/2-custom-resources.yaml"

kubeconfig_user_home: "/root"
kubeconfig_path: "{{ kubeconfig_user_home }}/.kube/config"
