---
- name: Allow routed traffic through WireGuard interface (to network)
  ansible.builtin.command:
    cmd: "ufw route allow in on {{ vault_wg_interface }} to {{ vault_wg_network_cidr }}"
  register: wg_route_to
  changed_when: "'Skipping' not in wg_route_to.stdout"
  failed_when: false
  when:
    - ansible_os_family == 'Debian'
    - vault_wg_interface is defined

- name: Allow routed traffic through WireGuard interface (from network)
  ansible.builtin.command:
    cmd: "ufw route allow in on {{ vault_wg_interface }} from {{ vault_wg_network_cidr }}"
  register: wg_route_from
  changed_when: "'Skipping' not in wg_route_from.stdout"
  failed_when: false
  when:
    - ansible_os_family == 'Debian'
    - vault_wg_interface is defined

- name: Display interface routing rules
  ansible.builtin.debug:
    msg:
      - "UFW route allow on {{ vault_wg_interface }} to {{ vault_wg_network_cidr }}: {{ 'ADDED' if 'Skipping' not in wg_route_to.stdout else 'EXISTS' }}"
      - "UFW route allow on {{ vault_wg_interface }} from {{ vault_wg_network_cidr }}: {{ 'ADDED' if 'Skipping' not in wg_route_from.stdout else 'EXISTS' }}"
  when:
    - ansible_os_family == 'Debian'
    - vault_wg_interface is defined
