---
- name: Set debconf for non-interactive APT
  ansible.builtin.shell: echo 'debconf debconf/frontend select Noninteractive' | debconf-set-selections
  changed_when: false
  when: ansible_os_family == 'Debian'

- name: Install WireGuard package
  ansible.builtin.shell: DEBIAN_FRONTEND=noninteractive apt-get install -y wireguard wireguard-tools
  register: wg_install
  changed_when: "'0 upgraded, 0 newly installed, 0 to remove and 0 not upgraded.' not in wg_install.stdout"
  when: ansible_os_family == 'Debian'

- name: Install UFW package
  ansible.builtin.shell: DEBIAN_FRONTEND=noninteractive apt-get install -y ufw
  register: ufw_install
  changed_when: "'0 upgraded, 0 newly installed, 0 to remove and 0 not upgraded.' not in ufw_install.stdout"
  when: ansible_os_family == 'Debian'

- name: Ensure WireGuard config directory exists
  ansible.builtin.file:
    path: /etc/wireguard
    state: directory
    mode: '0700'

- name: Ensure WireGuard backup directory exists
  ansible.builtin.file:
    path: /etc/wireguard/backups
    state: directory
    mode: '0700'
